body{
	font-family: 'Montserrat', sans-serif;
}
.hero-image{
	background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.hero-image .hero-wrapper {
	color:#FFF;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.hero-image .hero-wrapper h1{
	text-transform: uppercase;
	font-size: 2.4rem;
	text-align: center;
}
.hero-image .hero-wrapper p{
	margin:10px 0 20px 0;
	line-height: 2;
	text-transform: uppercase;
}
form{
	text-align: center;
}
.hero-image .hero-wrapper form input[type="text"]{
	display: block;
	width: 80%;
	margin: 0 auto;
	border-radius: 20px;
	padding: 10px;
	outline: none;
	color: black;
	border: none;
}
.hero-image .hero-wrapper form input[type="submit"]{
	width: 40%;
	border: none;
	outline: none;
	color: #FFF;
	margin-top: 10px;
	padding: 10px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	background-color: #00bab1;
	border-radius: 20px;

}
.product{
	margin-top: 20px;
}
.product .product-list-item{
	float: left;
	width: 30%;
	margin-left: 30px;
}

.product .product-list-item img{
	width: 100%;
	
}